{% extends 'base.html' %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class=" text-center">
    <div class="card text-start" style="margin: 1rem;">
        <div class="card-header text-white bg-dark d-flex justify-content-between text-center">
            <div class="p-2 bd-highlight" style="width: 8rem;"><a href="{% url 'list_horarios' id %}"
                    class="btn btn-success btn-sm" title="Voltar"><i class="bi bi-arrow-left-circle"></i></a></div>
            <div class="p-2 bd-highlight" style="width: 10rem;">Cadastrando Novo Horário</div>
            <div class="p-2 bd-highlight" style="width: 8rem;"></div>
        </div>
        <form action="{% url 'edit_horario' id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label for="diaSemana" class="form-label">Dia da Semana</label> <br>
                            {{form.diaSemana}}
                        </div>
                        <div class="col">
                            <label for="horarioInicio" class="form-label">Horário Inicial</label> <br>
                            {{form.horarioInicio}}
                        </div>
                        <div class="col">
                            <label for="horarioFim" class="form-label">Horário Final</label> <br>
                            {{form.horarioFim}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="margin: 1rem;">
                <hr>
                <button type="submit" class="btn btn-sm btn-dark"><i class="bi bi-floppy"></i> Salvar alterações </button>
            </div>
        </form>


    </div>
</div>

{% endblock %}