{% extends 'base.html' %}

{% block body %}

<div class="text-center">

    <div class="row">
        <div class="col">
            <div class="text-center">
                <div class="card border-left-primary shadow h-100 py-2" style="margin: 2rem;">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Laboratórios em Uso:
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-flask" style="font-size: 2rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabela com horários do laboratórios no dia -->
        <!-- Tabela com horários dos bolsistas e técnicos no dia -->
    </div>
</div>

{% endblock %}