{% extends 'base.html' %}

{% block body %}

<div class="card" style="margin: 1rem;">
    <div class="card-header text-center d-flex justify-content-between text-center">
        <div class="p-2 bd-highlight" style="width: 8rem;"><a href="{% url 'list_bolsistas' %}"
                class="btn btn-success btn-sm" title="Voltar"><i class="bi bi-arrow-left-circle"></i></a></div>
        <h6>Horários Semanais</h6>
        <div class="p-2 bd-highlight" style="width: 8rem;"></div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <a href="{% url 'list_horarios' id %}" class="btn btn-sm btn-dark " style="margin: 0.5rem;"
                title="Lista de horários"><i class="bi bi-list"></i> Lista de Horário</a>
        </div>
        {% if horarios %}
        <div class="container mt-5">
            <!-- Painel de Horários -->
            <div class="row">
                <!-- Card para Segunda-feira -->
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Segunda-feira
                        </div>
                        <div class="card-body">
                            {% for horario in horarios %}

                                {% if horario.diaSemana == "Segunda" %}
                                <p class="text-center" style="font-size: small;">
                                    <span class="badge text-bg-primary">Início:</span>
                                    {{horario.horarioInicio}} <br>
                                    <span class="badge text-bg-success">Fim:</span>
                                    {{horario.horarioFim}} <br>
                                </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
    
                <!-- Card para Terça-feira -->
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Terça-feira
                        </div>
                        <div class="card-body">
                            {% for horario in horarios %}

                                {% if horario.diaSemana == "Terça" %}
                                <p class="text-center" style="font-size: small;">
                                    <span class="badge text-bg-primary">Início:</span>
                                    {{horario.horarioInicio}} <br>
                                    <span class="badge text-bg-success">Fim:</span>
                                    {{horario.horarioFim}} <br>
                                </p>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
    
                <!-- Card para Quarta-feira -->
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Quarta-feira
                        </div>
                        <div class="card-body">
                            {% for horario in horarios %}

                                {% if horario.diaSemana == "Quarta" %}
                                <p class="text-center" style="font-size: small;">
                                    <span class="badge text-bg-primary">Início:</span>
                                    {{horario.horarioInicio}} <br>
                                    <span class="badge text-bg-success">Fim:</span>
                                    {{horario.horarioFim}} <br>
                                </p>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
    
                <!-- Card para Quinta-feira -->
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Quinta-feira
                        </div>
                        <div class="card-body">
                            {% for horario in horarios %}

                                {% if horario.diaSemana == "Quinta" %}
                                <p class="text-center" style="font-size: small;">
                                    <span class="badge text-bg-primary">Início:</span>
                                    {{horario.horarioInicio}} <br>
                                    <span class="badge text-bg-success">Fim:</span>
                                    {{horario.horarioFim}} <br>
                                </p>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
    
                <!-- Card para Sexta-feira -->
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Sexta-feira
                        </div>
                        <div class="card-body">
                            {% for horario in horarios %}

                                {% if horario.diaSemana == "Sexta" %}
                                <p class="text-center" style="font-size: small;">
                                    <span class="badge text-bg-primary">Início:</span>
                                    {{horario.horarioInicio}} <br>
                                    <span class="badge text-bg-success">Fim:</span>
                                    {{horario.horarioFim}} <br>
                                </p>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
    
                <!-- Card para Sábado -->
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Sábado
                        </div>
                        <div class="card-body">
                            {% for horario in horarios %}

                                {% if horario.diaSemana == "Sábado" %}
                                <p class="text-center" style="font-size: small;">
                                    <span class="badge text-bg-primary">Início:</span>
                                    {{horario.horarioInicio}} <br>
                                    <span class="badge text-bg-success">Fim:</span>
                                    {{horario.horarioFim}} <br>
                                </p>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="containe\r mt-3">
            <p class="text-danger text-center">
                Não há horários cadastrados para <strong>{{bolsista.user.first_name}}</strong> ainda.
            </p>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}